* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  padding: 0 16px;
  transition: opacity 0.3s;
}

.sibling-fade:hover {
    cursor: pointer;
}

.sibling-fade:hover span:not(:hover) {
  opacity: 0.5;
}
